/storage/*
!/storage/.gitkeep
!/storage/measurements/
/storage/measurements/*
!/storage/measurements/.gitkeep
!/storage/quizzes/
!/storage/quizzes/*.json
/credentials/*
!/credentials/.gitkeep
/config/config.php
/bin/*
/models/*
/vendor/
